*{
    padding: 0;
    margin: 0;
}

header{
    width: 1920px;
    height: 67px;
}

.wrapper {
}

.logo {
    width: 92px;
    height: 27px;
    margin: 21px 0 0 30px;
    float: left;
}

.loc_pic{
    float: left;
    margin: 11px 3px 0 18px;
}

.navigation {
    float: left;
}

.loc_city {
    color: #364844;
    font-size: 14px;
    width: 110px;
    height: 21px;
    margin: 17px 0 0 20px;
}

.loc_street {
    color: #868686;
    font-size: 14px;
    width: 100px;
    height: 21px;
    margin: 0 0 0 31px;
}

.wa_pic{
    float: left;
    margin: 20px 0 0 500px;
}

.num{
    color: #364844;
    font-size: 16px;
    margin: 24px 0 0 8px;
    font-weight: 100;
}

.contact_us {
    float: left;
    display: flex;
}

.buttom {
    float: left;
    background: #0DBC91;
    border-radius: 50px;
    width: 180px;
    height: 40px;
    border: none;
    margin: 11px 0 0 30px;
    cursor: pointer; 
}

.appointment{
    color: #FFFFFF;
    font-size: 14px;
}


